body {
  margin: 0;
  padding: 0;
  /*background-image: url('./assets/bg2.jpg');*/
  /*background-size: cover;
  background-repeat: no-repeat;*/
  background: black;
  font-family: 'murderFont';
}

@font-face {
  font-family: 'murderFont';
  src: url('./assets/font2.ttf') format('truetype');
}